@charset "utf-8";

// [参照]https://www.colordic.org/w
:root {
  --color-primaryMain: #007b43;
  --color-primaryDark: #00552e;
  --color-secondaryMain: #0095d9;
  --color-secondaryDark: #007bbb;
  --color-dangerMain: #e2041b;
  --color-dangerDark: #c9171e;
  --color-warningMain: #ffd900;
  --color-warningDark: #fcc800;
}
