@charset "utf-8";

:root {
  --color-primaryMain: #3a3;
  --color-primaryDark: #373;
  --color-secondaryMain: #33a;
  --color-secondaryDark: #337;
  --color-dangerMain: #a33;
  --color-dangerDark: #733;
  --color-warningMain: #aa3;
  --color-warningDark: #773;
}
