.button {
  appearance: none;
  border: 1px solid;
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
}

.primary {
  background-color: var(--color-primaryMain);
  &:hover {
    background-color: var(--color-primaryDark);
  }
  &:disabled {
    background-color: var(--color-primaryMain);
    opacity: 0.5;
  }
}

.secondary {
  background-color: var(--color-secondaryMain);
  &:hover {
    background-color: var(--color-secondaryDark);
  }
  &:disabled {
    background-color: var(--color-primaryMain);
    opacity: 0.5;
  }
}

.danger {
  background-color: var(--color-dangerMain);
  &:hover {
    background-color: var(--color-dangerDark);
  }
  &:disabled {
    background-color: var(--color-primaryMain);
    opacity: 0.5;
  }
}

.warning {
  background-color: var(--color-warningMain);
  &:hover {
    background-color: var(--color-warningDark);
  }
  &:disabled {
    background-color: var(--color-primaryMain);
    opacity: 0.5;
  }
}

.large {
  font-size: 36px;
  padding: 16px 32px;
  border-radius: 16px;
}

.small {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 8px;
}
