.button {
  appearance: none;
  border: 1px solid;
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
}

.primary {
  background-color: var(--color-primaryMain);
}

.primary:hover {
  background-color: var(--color-primaryDark);
}

.secondary {
  background-color: var(--color-secondaryMain);
}

.secondary:hover {
  background-color: var(--color-secondaryDark);
}

.danger {
  background-color: var(--color-dangerMain);
}

.danger:hover {
  background-color: var(--color-dangerDark);
}

.warning {
  background-color: var(--color-warningMain);
}

.warning:hover {
  background-color: var(--color-warningDark);
}

.large {
  font-size: 36px;
  padding: 16px 32px;
  border-radius: 16px;
}

.small {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 8px;
}

.button:disabled {
  opacity: 0.5;
}
